<!DOCTYPE html>
<html th:replace="~{layout :: copy (~{::copy})}" xmlns:th="http://www.thymeleaf.org">
<div class="container my-5" th:fragment="copy">
    <div class="row gx-lg-5">
      <div class="col-lg-8 mb-4 mb-md-0">

          <div class="row border-bottom mb-4" th:each="itemDetailDto : ${itemDetailDtoList}">
            <div class="col-md-2 mb-4 mb-md-0">
              <div class="bg-image ripple rounded-5 mb-4 overflow-hidden d-block" data-ripple-color="light">
                <img th:src="(${itemDetailDto.uploadImages.size()} != 0) ? @{/item/image/} + ${itemDetailDto.uploadImages[0].storeImageName} : 'https://dummyimage.com/101x152/dee2e6/6c757d.jpg'" class="w-100" height="152px" alt=""/>
                <a href="#!">
                  <div class="hover-overlay">
                    <div class="mask" style="background-color: hsla(0, 0%, 98.4%, 0.2)"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-8 mb-4 mb-md-0">
              <p class="fw-bold" th:text="${itemDetailDto.title}">Product very long title</p>
              <p class="mb-1"><span class="text-muted me-2">Gender:</span><span th:text="${itemDetailDto.gender.getSex()}">8.5</span></p>
              <p class="mb-1"><span class="text-muted me-2">Size:</span><span th:text="${itemDetailDto.size.getDimensions()}">8.5</span></p>
              <p class="mb-1"><span class="text-muted me-2">Brand:</span><span th:text="${itemDetailDto.brand.getBrandName()}">8.5</span></p>
              <p><span class="text-muted me-2">Category:</span><span th:text="${itemDetailDto.category.getCategoryType()}">Red</span></p>
              <p class="mb-4">
                <a href="" class="text-muted pe-3 border-end"><small><i class="fas fa-trash me-2"></i>Remove</small></a>
                <a href="" class="text-muted ps-3"><small><i class="fas fa-heart me-2"></i>Move to wishlist</small></a>
              </p>
            </div>
            <div class="col-md-2 mb-4 mb-md-0">
              <div class="form-outline mb-4">
                <input type="number" id="typeNumber" class="form-control" value="1" min="1"/>
                <label class="form-label" for="typeNumber">Quantity</label>
              </div>
              <h5 class="mb-2">
                <s class="text-muted me-2 small align-middle">$119</s><span class="align-middle">$101</span>
              </h5>
              <p class="text-danger"><small>You save 15%</small></p>
            </div>
          </div>

      </div>
    </div>
</div>
</html>