<!DOCTYPE html>
<html th:replace="~{layout :: copy (~{::copy})}" xmlns:th="http://www.thymeleaf.org">
<!--판매 양식-->
<div class="container h-100" th:fragment="copy">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">

            <h1 class="text-white mb-4" th:text="#{item.page.sell}">Apply for a job</h1>

            <div class="card" style="border-radius: 15px;">
                <div class="card-body">

                    <form th:object="${itemAddDto}" method="post" action="/item/save" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"/>
                        <div class="row align-items-center pt-4 pb-3">
                            <div class="field-error d-flex pe-5 justify-content-end" th:errors="*{title}"/>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.title}">title</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input type="text" class="form-control form-control-lg" th:field="*{title}" th:errorclass="field-error"/>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="field-error d-flex pe-5 justify-content-end" th:errors="*{gender}"/>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.gender}">Gender</h6>
                            </div>
                            <div class="col-md-4 pe-5" th:each="gender : ${T(com.market.secondshoes.domain.item.Gender).values()}">
                                <input type="radio" th:field="*{gender}" th:value="${gender.name()}" class="form-check-input"/>
                                <label th:for="${#ids.prev('gender')}" th:text="${gender.getSex()}"></label>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.size}">Size</h6>
                            </div>
                            <div class="col-md-9 pe-5" >
                                <select th:field="*{size}" class="form-select">
                                    <option th:each="size : ${T(com.market.secondshoes.domain.item.Size).values()}"
                                            th:value="${size.name()}" th:text="${size.getDimensions()}"/>
                                </select>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.brand}">Brand</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <select th:field="*{brand}" class="form-select">
                                    <option th:each="brand : ${T(com.market.secondshoes.domain.item.Brand).values()}"
                                            th:value="${brand.name()}" th:text="${brand.getBrandName()}"/>
                                </select>
                            </div>
                        </div>

                        <div class="row align-items-center py-3">
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.category}">Category</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <select th:field="*{category}" class="form-select">
                                    <option th:each="category : ${T(com.market.secondshoes.domain.item.Category).values()}"
                                            th:value="${category.name()}" th:text="${category.getCategoryType()}"/>
                                </select>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="field-error d-flex pe-5 justify-content-end" th:errors="*{price}"/>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.price}">price</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input type="text" class="form-control form-control-lg" th:field="*{price}" th:errorclass="field-error"/>
                            </div>
                        </div>



                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="field-error d-flex pe-5 justify-content-end" th:errors="*{explain}"/>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.explain}">explain</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <textarea class="form-control" rows="3" th:field="*{explain}" th:errorclass="field-error" placeholder="Message sent to the employer"></textarea>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="row align-items-center py-3">
                            <div class="field-error d-flex pe-5 justify-content-end" th:errors="*{images}"/>
                            <div class="col-md-3 ps-5">
                                <h6 class="mb-0" th:text="#{item.label.itemImages}">Upload CV</h6>
                            </div>
                            <div class="col-md-9 pe-5">
                                <input class="form-control form-control-lg" id="formFileLg" type="file" multiple="multiple" th:field="*{images}" onchange="imagePreview(this)"/>
                                <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file size 50 MB</div>
                                <div class="album px-0">
                                    <div id="imageListSlide" class="images">
                                        <img th:if="${images} != null"
                                             th:each="image : ${images}"
                                             th:src="@{/item/image/} + ${image.storeImageName}"
                                             class="image"
                                             alt="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"/>
                                    </div>
                                    <div id="controlPanel" class="control_panel">
                                        <span class="dot"
                                              th:if="${images} != null"
                                              th:each="image, imageStat : ${images}"
                                              th:name="${imageStat.count}" onclick="slide(this)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mx-n3">

                        <div class="px-5 py-4 d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-dark btn-lg w-100" th:text="#{item.button.add}">Send application</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
</html>
</html>