<!DOCTYPE html>
<html th:replace="~{layout :: copy (~{::copy})}" xmlns:th="http://www.thymeleaf.org">
<div class="container my-5" th:fragment="copy">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <div class="row border-bottom mb-4" th:each="itemDetailDto : ${itemDetailDtoSlice}">
              <!--image-->
              <div class="col-md-8 mb-4 mb-md-0">
                <div class="album px-0">
                  <div id="imageListSlide" class="images">
                    <img class="image"
                         th:each="uploadImage : ${itemDetailDto.uploadImages}"
                         th:src="@{/item/image/} + ${uploadImage.storeImageName}"
                         alt="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                         th:field="${itemDetailDto.uploadImages}"/>
                  </div>
                  <div class="control_panel">
                    <span class="dot" th:each="uploadImage, uploadImageStat : ${itemDetailDto.uploadImages}" th:name="${uploadImageStat.count}" onclick="slide(this)"></span>
                  </div>
                </div>
              </div>
              <!--item-detail-->
              <div class="col-md-4 mb-4 mb-md-0 align-self-center">
                <p class="fw-bold fs-4" th:text="${itemDetailDto.title}">Product very long title</p>
                <p class="mb-1"><span class="text-muted me-2">Price:</span><span th:text="|${itemDetailDto.price}원|">8.5</span></p>
                <p class="mb-1"><span class="text-muted me-2">Gender:</span><span th:text="${itemDetailDto.gender.getSex()}">8.5</span></p>
                <p class="mb-1"><span class="text-muted me-2">Size:</span><span th:text="${itemDetailDto.size.getDimensions()}">8.5</span></p>
                <p class="mb-1"><span class="text-muted me-2">Brand:</span><span th:text="${itemDetailDto.brand.getBrandName()}">8.5</span></p>
                <p class="mb-1"><span class="text-muted me-2">Category:</span><span th:text="${itemDetailDto.category.getCategoryType()}">Red</span></p>
                <p class="mb-1"><span class="text-muted me-2">Name:</span><a class="link-dark" th:href="@{/member/find/{id}(id = ${itemDetailDto.memberInfoDto.id})}" th:text="${itemDetailDto.memberInfoDto.name}">8.5</a></p>
                <p class="mb-1"><span class="text-muted me-2">View:</span><span th:text="${itemDetailDto.viewCount}">8.5</span></p>
                <p><span class="text-muted me-2">Date:</span><span th:text="${itemDetailDto.createdDate}">8.5</span></p>
                <p class="mb-4">
                  <a th:href="@{/wish/remove/{itemId}(itemId = ${itemDetailDto.id})}" class="text-muted pe-3 border-end"><small><i class="fas fa-trash me-2"></i>Remove</small></a>
                  <a th:href="@{/item/find/{id}(id = ${itemDetailDto.id})}" class="text-muted ps-3"><small><i class="fas fa-heart me-2"></i>Move to detail</small></a>
                </p>
              </div>

          </div>
          <div class="d-flex justify-content-center">
            <div style="font-size: 48px; cursor: pointer" th:if="${itemDetailDtoSlice.hasPrevious()}" th:onclick="|preWishListSlice(${itemDetailDtoSlice.getNumber()})|"><i class="bi bi-caret-left fa-10x"></i></div>
            <div style="font-size: 48px; cursor: pointer" th:if="${itemDetailDtoSlice.hasNext()}" th:onclick="|nextWishListSlice(${itemDetailDtoSlice.getNumber()})|"><i class="bi bi-caret-right fa-10x"></i></div>
          </div>
        </div>
      </div>
    </div>
</div>
</html>