<div class="container" th:fragment="copy">

    <div class="border-top border-secondary mt-4 pt-2">

        <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="btn-check"> 나이키 </label>

        <input type="checkbox" class="btn-check" id="btn-check2" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="btn-check2"> 아디다스 </label>

        <input type="checkbox" class="btn-check" id="btn-check3" autocomplete="off"/>
        <label class="btn btn-outline-secondary" for="btn-check3"> 뉴발란스 </label>

    </div>

    <div class="border-top border-secondary mt-2 pt-5"></div>


</div>