<!DOCTYPE html>
<html th:replace="~{layout :: copy (~{::copy})}" xmlns:th="http://www.thymeleaf.org">
<content th:fragment="copy">
    <!--헤더-->
    <header class="bg-dark py-5" th:fragment="copy">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Second-Shoes</h1>
                <p class="lead fw-normal text-white-50 mb-0">A place for people who are interested in shoes</p>
            </div>
        </div>
    </header>
    <!--컨테이너-->
    <div class="container mt-5" id="find_target">
        <!--폼-->
        <form th:object="${itemConditionDto}">
            <!--검색-->
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col card card-sm">
                            <input class="form-control form-control-lg form-control-borderless" th:field="*{search}" type="search" placeholder="검색">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-lg btn-outline-dark" type="button" onclick="condition(0)">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--page-->
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <select id="dataOrder" onchange="condition(0)">
                        <option value="createdDate">최근 등록 순</option>
                        <option value="viewCount">조회 많은 순</option>
                        <option value="wishCount">찜 많은 순</option>
                    </select>
                </div>
                <div class="p-2 bd-highlight" onchange="condition(0)">
                    <select id="dataPerPage">
                        <option value="8">8개</option>
                        <option value="16">16개</option>
                        <option value="32">32개</option>
                    </select>
                </div>
            </div>
            <!--옵션-->
            <div class="row">
                <aside class="col-sm-4">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header"><h6 class="title" th:text="#{item.label.gender}">Color check</h6></header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="col-md-4 pe-5 form-check form-check-inline" th:each="gender : ${T(com.market.secondshoes.domain.item.Gender).values()}">
                                        <input type="radio" th:field="*{gender}" th:value="${gender.name()}" class="form-check-input"/>
                                        <label th:for="${#ids.prev('gender')}" th:text="${gender.getSex()}"></label>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">가격대 </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control" th:field="*{priceGoe}" placeholder="최소 금액">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Max</label>
                                            <input type="number" class="form-control" th:field="*{priceLoe}" placeholder="최대 금액">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
                <aside class="col-sm-8">
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title" th:text="#{item.label.size}">Brands </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div th:each="size : ${T(com.market.secondshoes.domain.item.Size).values()}" class="form-check form-check-inline" >
                                        <input type="checkbox" th:field="*{sizes}" th:value="${size.name()}" class="form-check-input"/>
                                        <label th:for="${#ids.prev('sizes')}" th:text="${size.getDimensions()}"></label>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title" th:text="#{item.label.brand}">Brands </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div th:each="brand : ${T(com.market.secondshoes.domain.item.Brand).values()}" class="form-check form-check-inline" >
                                        <input type="checkbox" th:field="*{brands}" th:value="${brand.name()}" class="form-check-input"/>
                                        <label th:for="${#ids.prev('brands')}" th:text="${brand.getBrandName()}"></label>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title" th:text="#{item.label.category}">Choose type </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div th:each="category : ${T(com.market.secondshoes.domain.item.Category).values()}" class="form-check form-check-inline" >
                                        <input type="checkbox" th:field="*{categories}" th:value="${category.name()}" class="form-check-input"/>
                                        <label th:for="${#ids.prev('categories')}" th:text="${category.getCategoryType()}"></label>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        </form>
    </div>
    <!--container end.//-->
    <!--상품 목록-->
    <div class="container px-4 px-lg-5 mb-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mb-5" id="items_target"></div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <ul class="pagination justify-content-center" id="page_ul"></ul>
        </div>
    </div>
</content>
</html>
