<!DOCTYPE html>
<html th:replace="~{layout :: copy (~{::copy})}" xmlns:th="http://www.thymeleaf.org">
<!-- Product section-->
<section class="py-5" th:fragment="copy">
    <div class="container px-4 px-lg-5 my-5" th:object="${itemDetailDto}">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6" th:each="uploadImage : *{uploadImages}">
                <img class="card-img-top mb-5 mb-md-0"
                     th:src="@{/item/image/} + ${uploadImage.storeImageName}"
                     alt="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                     th:field="*{uploadImages}"
                />
            </div>
            <div class="col-md-6">
                <div class="small mb-1"><a th:href="@{/member/find/} + *{memberInfoDto.id}" th:text="*{memberInfoDto.name}">SKU: BST-498</a> </div>
                <h1 class="display-5 fw-bolder" th:text="*{title}">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$45.00</span><br/>
                    <span th:text="*{price}">$40.00</span><br/>
                    <span th:text="*{gender.getSex()}">$40.00</span><br/>
                    <span th:text="*{size.getDimensions()}">$40.00</span><br/>
                    <span th:text="*{brand.getBrandName()}">$40.00</span><br/>
                    <span th:text="*{category.getCategoryType()}">$40.00</span><br/>
                    <span th:text="*{createdDate}">$40.00</span><br/>
                </div>
                <p class="lead" th:text="*{explain}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem
                    modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus
                    ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1"
                           style="max-width: 3rem"/>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button" th:unless="${memberId} == *{memberInfoDto.id}">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0" type="button"
                            th:onclick="|location.href='@{/item/updateForm/{id}(id=*{id})}'|" th:text="수정"
                            th:if="${memberId} == *{memberInfoDto.id}">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                    <button class="btn btn-outline-danger flex-shrink-0" type="button"
                            th:onclick="|location.href='@{/item/remove/{id}(id=*{id})}'|" th:text="삭제"
                            th:if="${memberId} == *{memberInfoDto.id}">
                    <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</html>